<!doctype html>
<html lang="en" ng-app="myapp">
<head>
	<meta charset="UTF-8">
	<title>My mnemo words</title>
	<h1>My word list</h1>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.1.0/cyborg/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
<!-- putting this at the top to remove the jarring load -->
<script src="http://code.angularjs.org/1.2.10/angular.min.js"></script>
<body ng-controller="MainController">
	<div class="jumbotron">
		<form novalidate class="simple-form">
    		Mnemo Code: <input type="number" ng-model="params.id" />
    		<input type="submit" ng-click="getWordList(params.id)" value="Get" />
  		</form>	
	</div>
	<div class="container-fluid">
		<h3>Words</h3>
		<pre>{{words}}</pre>
		</div>
<script src="http://code.angularjs.org/1.2.10/angular-resource.min.js"></script>
<script>
	// new dependency: ngResource is included just above
	var myapp = new angular.module("myapp", ["ngResource"]);

	// inject the $resource dependency here
	myapp.controller("MainController", ["$scope", "$resource", function($scope, $resource){
		
		// I designed the backend to play nicely with angularjs so this is all the
		// setup we need to do all of the ususal operations.
		var Word = $resource("/words/:id", {id: '@id'}, {});

		$scope.words=" MESSAGE: Please digit a number into the entry field to find the associated words"

		$scope.list = function(idx){
			// Notice calls to Words are often given callbacks.
			Word.query(function(data){
				$scope.words = data;
				if(idx != undefined) {
					$scope.selected = $scope.words[idx];
					$scope.selected.idx = idx;
				}
				console.log('words--',$scope.words)
			}, function(error){
				alert(error.data);
			});
		};

		$scope.getWordList = function(idx){
			// Notice calls to Words are often given callbacks.
			console.log('entrato in getWordList',idx)
			
			// Passing parameters to Word calls will become arguments if
			// we haven't defined it as part of the path (we did with id)
			Word.get({id: idx}, function(data){
				console.log('data is ',data)
				$scope.words = data.word;
			},

			function(error){
				console.log('error is ', error)
				alert ( error.data.error );
			}

			);
		};

		//$scope.list();

		$scope.master = {};

        $scope.reset = function() {
              $scope.user = angular.copy($scope.master);
              };

      $scope.reset();

	}]);
</script>
</body>
</html>
